<!DOCTYPE html>
<html ng-app="application" lang="en">
<head>
    <title>DDrv - Infinite cloud storage using Discord</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body ng-controller="controller">
<div id="app-shell" ng-class="{'dragging': isDragging}" ng-drop="onDrop($event)">
<div id="header">
    <div class="header-brand">
        <h1 id="title">DDrv</h1>
        <div class="subtitle">Discord as infinite cloud storage.</div>
    </div>
    <div ng-controller="authController">
        <button onclick="loginDialog.showModal()" ng-show="config.anonymous && config.login && !authenticated" class="ghost-btn">
            Login
        </button>
        <button ng-click="logout()" ng-show="authenticated" class="ghost-btn">
            Logout
        </button>
        <dialog id="loginDialog">
            <h3>DDrv Login</h3>
            <form ng-submit="login()" class="dialog-form">
                <div class="dialog-fields">
                    <label for="username">Username</label>
                    <input type="text" id="username" ng-model="username" autocomplete="username">
                    <label for="password">Password</label>
                    <input type="password" id="password" ng-model="password" autocomplete="current-password">
                </div>
                <div class="dialog-actions">
                    <button type="submit" ng-disabled="!username || !password">
                        Login
                    </button>
                </div>
            </form>
            <div class="error-message" ng-if="loginErrMessage">{{loginErrMessage}}</div>
        </dialog>
    </div>
</div>

<dialog id="createFolderDialog">
    <h3>Create Folder</h3>
    <form ng-submit="createFolder()" class="dialog-form">
        <label for="createFolderInput">Folder name</label>
        <input type="text" id="createFolderInput" ng-model="newFolderName" required>
        <button type="submit" ng-disabled="!newFolderName">
            Create
        </button>
    </form>
    <div class="error-message" ng-if="createFolderErrorMessage">{{createFolderErrorMessage}}</div>
</dialog>

<dialog id="renameDialog">
    <h3>Rename</h3>
    <form ng-submit="rename()" class="dialog-form">
        <label for="renameFolderInput">New name</label>
        <input type="text" id="renameFolderInput" ng-model="newName" required>
        <button type="submit" ng-disabled="!newName">
            Rename
        </button>
    </form>
    <div class="error-message" ng-if="renameErrorMessage">{{renameErrorMessage}}</div>
</dialog>

<div ng-show="!appCrashed">
    <div id="toolbar">
        <div>
            <button ng-click="load(directory.parent)" ng-show="directory.parent">
                < Back
            </button>
        </div>
        <div id="toolbar-edit">
            <button onclick="createFolderDialog.showModal()" ng-show="btnCreateFolder" class="toolbar-btn">
                Create Folder
            </button>
            <input type="file" id="fileUpload" style="display: none;"
                    onchange="angular.element(this).scope().fileChanged(this.files)" multiple/>
            <button ng-click="upload()" ng-show="btnUploadFile" class="toolbar-btn">
                Upload File
            </button>

            <button ng-click="copyLink()" ng-show="btnCopyLink" class="toolbar-btn">
                Copy Link
            </button>
            <button onclick="renameDialog.showModal()" ng-show="btnRename" class="toolbar-btn">
                Rename
            </button>
            <button ng-click="delete()" ng-show="btnDelete" class="toolbar-btn danger-btn">
                Delete
            </button>
        </div>
    </div>
    <div id="controls">
        <input id="searchInput" type="search" ng-model="filterText" placeholder="Search files and folders">
        <select ng-model="sortBy">
            <option value="name">Sort: Name</option>
            <option value="size">Sort: Size</option>
            <option value="mtime">Sort: Modified</option>
        </select>
        <button type="button" ng-click="toggleSortDirection()">{{sortDesc ? 'Desc' : 'Asc'}}</button>
    </div>
    <div id="dropzone" ng-class="{'active': isDragging}"
         ondragover="angular.element(this).scope().onDragOver(event)"
         ondragleave="angular.element(this).scope().onDragLeave(event)"
         ondrop="angular.element(this).scope().onDrop(event)">
        Drag & drop files here to upload
    </div>
    <div class="status-message" ng-if="statusMessage">{{statusMessage}}</div>
    <div>
        <table>
            <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-model="selectAllCheckbox" ng-change="selectAll(selectAllCheckbox)">
                </th>
                <th class="name-td">Name</th>
                <th class="size-td">Size</th>
                <th class="date-td">Modified</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in filteredFiles()" ng-class="{'bold': file.dir, 'highlight': file.selected}">
                <td>
                    <input type="checkbox" ng-model="file.selected">
                </td>
                <td ng-click="file.dir ? load(file.id) : open(file)" class="name-td"> {{file.name}}</td>
                <td style="text-align: right" class="size-td">{{file.size}}</td>
                <td style="text-align: right" class="date-td">{{file.mtime | date:'MM/dd/yyyy hh:mma'}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-repeat="progress in progressbars" class="progress-bar progress-bar-show-percent">
        <div class="progress-bar-filled" ng-style="{'width': progress.value + '%'}"
             data-filled="Uploading {{progress.name}} {{progress.value}} %"></div>
    </div>

</div>
<script src="main.js"></script>
</div>
</body>
</html>
